<!-- <p>uform works!</p>

<form (ngSubmit)="onSubmit(fm)" #fm=ngForm>
  <div class="form-group">
    <label for="title">Titolo del libro:</label>
    <input type="text" class="form-control" ngModel="{{book.title}}" ngModel name="title">
  </div>
  <div class="form-group">
    <label for="author">Autore del libro:</label>
    <input type="text" class="form-control" ngModel="{{book.author}}" ngModel name="author">
  </div>
  <div class="form-group">
    <label for="price">Prezzo del libro:</label>
    <input type="text" class="form-control" ngModel="{{book.price}}" ngModel name="price">
  </div>
  <button type="submit" class="btn btn-primary">Aggiungi nuovo libro</button>
</form> -->

<form (ngSubmit)="onSubmit()" [formGroup]="form" enctype="multipart/form-data">
  <div class="form-group">
    <label for="title">Titolo del libro:</label>
    <input type="text" (input)="checkString('title')" ngModel="{{book.title}}" class="form-control" formControlName="title">
    <!-- ngModel name="title" -->
  </div>
  <div class="form-group">
    <label for="author">Autore del libro:</label>
    <input type="text" (input)="checkString('author')" ngModel="{{book.author}}" class="form-control" formControlName="author">
    <span *ngIf="form.controls.author.errors?.incorrect">
   La lunghezza dell'autore non può superare i 250 caratteri
  </span>
  </div>
  <div class="form-group">
    <label for="price">Prezzo del libro:</label>
    <input type="text" (input)="checkNumber()" ngModel="{{book.price}}" class="form-control" formControlName="price">
  </div>
  <div class="form-group">
  <label for="image">Copertina:</label>
  <input type="file"
  class="form-control"
  id="file"
  formControlName="file"
  (change)="onFileSelect($event)">
</div>
  <button type="submit" class="btn btn-primary">Aggiorna libro</button>
</form>
