/* You can add global styles to this file, and also import other style files */
.wrapper{
  overflow-x: hidden;
  header{
    nav a {
      color:white;
    }
    .dropdown-menu{
      background-color: red;
    }
    min-height: 600px;
    background:radial-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), url('https://images4.alphacoders.com/104/thumb-1920-1047181.jpg');
    background-repeat: no-repeat;
    background-position:0% 50%;
    background-size: cover;
    .navbar-toggler{
color:#fff;
    }
    .searchButton{
      margin-top:0;
      // &:hover{

      // }
      // @media only screen and (max-width: 990px) {
      //    background-color:#5cb85c;
      //    color:#fff;
      // }
    }
  }
  .navbar-brand {
    img {
    height:50px;
    width: auto;
  }
  span{
    text-shadow: green 1px 2px 5px;
  }
}
footer {
  width:100%;
}
#navbarNav{
  margin-left: 50px;
}
main{
  padding:20px;
}
#custom-cards{
  .btn-warning a{
    text-decoration: none;
    color:#fff;
  }
}
footer{
  padding:20px;
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 68%, rgba(36,38,62,1) 100%, rgba(36,38,62,1) 100%);
}
form{
  button{
    margin-top:10px;
  }
}
}
