<!-- <p>home-admin works!</p> -->
<div class="container">
  <div class="row banner">
    <div class="col-md-12">
      <div class="list-group">
        <div class="list-group-item">
          <!-- <div class="row-action-primary">
            <h4 class="list-group-item-heading"><span class="fa fa-user"></span> Manage User</h4>
          </div> -->
          <div class="row-content">
            <a *ngIf="this.mservice.current('role') == 'admin'" [routerLink]="['/admin/users']"><button class="btn btn-danger">Tutti gli utenti</button></a>
            <a *ngIf="this.mservice.current('role') == 'user'" [routerLink]="['/admin/create-book']"><button class="btn btn-danger">Inserisci nuovo libro</button></a>
            <!-- <a [routerLink]="['/']"><button class="btn btn-danger">Vai alla lista libri</button></a> -->
            <!-- <a [routerLink]="['/admin/users/create']" class="btn btn-primary">New User</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="this.mservice.current('role') == 'user'" class="container-fluid px-4 py-2" id="custom-cards">
  <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 align-items-stretch g-4 py-5">
    <div *ngFor="let book of books" class="col">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" [ngStyle]="{'background-image': book.img!= null ? 'url(http://localhost:8000/'+book.img+')' : 'url(https://i.redd.it/qm5q37j0ba931.png)'}">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">{{book.title}}</h2>
          <div>
            <button class="btn btn-warning"><a href="javascript:void(0)" [routerLink]="['/admin/update-book',this.mservice.current('id'),book.id]">Update</a></button>
            <button class="btn btn-danger" (click)="delete(book)">Delete</button>
           </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="books.length==0">Non hai ancora inserito libri.</div>
</div>
