<p>home-admin works!</p>
<div class="container">
  <div class="row banner">
    <div class="col-md-12">
      <div class="list-group">
        <div class="list-group-item">
          <!-- <div class="row-action-primary">
            <h4 class="list-group-item-heading"><span class="fa fa-user"></span> Manage User</h4>
          </div> -->
          <div class="row-content">
            <a [routerLink]="['/admin/users']" class="btn btn-info">All Users</a>
            <a [routerLink]="['/admin/create-book']" class="btn btn-info">Create a book</a>
            <!-- <a [routerLink]="['/admin/users/create']" class="btn btn-primary">New User</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
